<!DOCTYPE html>
<!--
bak6中有游戏列表，这里将替换成为echarts图表
图表中表示不同时间不同类型开服，公测，封测所占比例
-->
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>游戏测试时间表</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-datetimepicker.min.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='fullcalendar/fullcalendar.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='fullcalendar/fullcalendar.print.css')}}" media="print"/>
    <script src="{{url_for('static', filename='fullcalendar/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='bootstrap-datetimepicker.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='fullcalendar/moment.min.js')}}"></script>
    <script src="{{url_for('static', filename='fullcalendar/fullcalendar.js')}}"></script>
    <script src="{{ url_for('static', filename='echarts/echarts.js') }}"></script>
    <script src="{{ url_for('static', filename='echarts/echarts-wordcloud.js') }}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 10px;margin-bottom: 10px;">
    <form role="form" method="post">
        <div class="row">
            <div class="col-md-12 column">
                <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
                    <div class="col-md-1 column">
                        <span>测试时间</span>
                    </div>
                    <div class="col-md-4 column">
                        <span>开始时间</span>
                        <input type="text" name="starttime" id="datetimeStart" readonly class="form_datetime">
                    </div>
                    <div class="col-md-6 column">
                        <span>结束时间</span>
                        <input type="text" name="endtime" id="datetimeEnd" readonly class="form_datetime">
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
                    <div class="col-md-1 column">
                        <span>游戏类型</span>
                    </div>
                    <div class="col-md-11 column">
                        <div class="btn-group" data-toggle="buttons">
                            {% for gametype in gametypes %}
                                <label class="btn btn-primary">
                                    <input type="checkbox" name="testtype" value={{gametype[0]}}>{{gametype[0]}}</input>
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" name = "submit" class="btn btn-info" value="datetype">查询</button></a>
    </form>

    <div class="panel-group" id="accordion" style="margin-top: 10px;margin-bottom: 10px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapseOne" class="navbar-brand">
                        说明：
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    1.默认为游戏列表
                    2.日期和类型都为空时查询的是当天的所有测试游戏
                    3.只有开始日期时，查询的是开始日期之后的所有测试游戏
                    4.只有结束日期时，查询的是结束日期之前的所有测试游戏
                    5.游戏类型可以多选
                    6.日程表中展示的是当天测试的游戏数量
                    7.点击日程表中的日期展示当天测试的游戏
                    8.标签云中显示的是游戏类型，类型的大小表示该种类型的数量
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column" style="margin-top: 10px;margin-bottom: 10px;">
            <div id='calendar' class="col-md-4" style="padding-left: 55px;"></div>
            <div class="col-md-2"></div>
            <div id="wordcloud" class="col-md-4" style="height: 462px; width:624px;"></div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column" style="margin-top: 20px;margin-bottom: 10px;">
            <div id="typebar" style="height:500px;border:1px solid #ccc;"></div>
        </div>
    </div>
</div>
</body>
</html>

<script type="text/javascript">

//日程表控件
    var fcSources = {
        month: {
                    url: 'data',
                    type: 'GET',
                    cache: true,
                    error: function() { alert('something broke with courses...'); },
                    color: 'purple',
                    textColor: 'white',
                    className: 'course'
                },
        basic: {
                    url: 'wdata',
                    type: 'GET',
                    cache: true,
                    error: function() { alert('something broke with requests...'); },
                    textColor: 'white',
                    className: 'requests'
                }
    };

    $(document).ready(function() {
        $('#calendar').fullCalendar({
                eventLimit: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                editable: true,
                eventSources: [ fcSources.month, fcSources.basic],
                dayClick: function(date) {
                    var d = new Date(date);
                    clickdate = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate();
                    window.location.href='gametest?clickdate='+clickdate;
                },
                eventRender: function(event, element) {
                if(event.title >= 100) {
                    element.css('background-color', '#4B0082');
                }
                else if(event.title >= 50 & event.title < 100) {
                    element.css('background-color', '#9932CC');
                }
                else if(event.title >= 20 & event.title < 50) {
                    element.css('background-color', '#6A5ACD');
                }
                else if(event.title >= 10 & event.title < 20) {
                    element.css('background-color', '#9370DB');
                }
                else if(event.title < 10) {
                    element.css('background-color', '#A9A9A9');
                }
            },
            });
    });
//时间控件
    $('#datetimeStart').datetimepicker({
          format: 'yyyy-mm-dd',
          minView:'month',
          language: 'zh-CN',
          autoclose:true,
          startDate:new Date(2014,01,01)
          }).on("click",function(){
              $("#datetimeStart").datetimepicker("setEndDate",$("#datetimeEnd").val())
          })
      $('#datetimeEnd').datetimepicker({
          format: 'yyyy-mm-dd',
          minView:'month',
          language: 'zh-CN',
          autoclose:true,
          startDate:new Date(2014,01,01)
          }).on("click",function(){
              $("#datetimeEnd").datetimepicker("setStartDate",$("#datetimeStart").val())
          });
//echarts词云图
    var chart = echarts.init(document.getElementById('wordcloud'));
    var typecloud;
    $.ajax({
        cache: false,
        type: "GET",
        url: "echarts_cloud", //把表单数据发送到/weather
        data: null, // 发送的数据
        dataType : "json",  //返回数据形式为json
        async: false,
        error: function(request) {
            alert("发送请求失败！");
        },
        success: function(result) {
            //console.log(JSON.stringify(result));
            typecloud = result;
            // 为echarts对象加载数据--------------

        }
    });

    var option = {
        tooltip: {
            show: true
        },
        tooltip: {},
        series: [ {
            type: 'wordCloud',
            gridSize: 2,
            sizeRange: [12, 50],
            rotationRange: [-90, 90],
            shape: 'pentagon',
            width: 600,
            height: 400,
            textStyle: {
                normal: {
                    color: function () {
                        return 'rgb(' + [
                            Math.round(Math.random() * 160),
                            Math.round(Math.random() * 160),
                            Math.round(Math.random() * 160)
                        ].join(',') + ')';
                    }
                },
                emphasis: {
                    shadowBlur: 10,
                    shadowColor: '#333'
                }
            },
            data: typecloud
        } ]
    };

chart.setOption(option);

function chartclick(type){

window.location.href='gametest?chartclick='+type['name'];

}

(function(){
    chart.on('click', chartclick)
})();

//echarts图表
var chart2 = echarts.init(document.getElementById('typebar'));
var typebar;
    $.ajax({
        cache: false,
        type: "GET",
        url: "echart_cloud", //把表单数据发送到/echarts_cloud
        data: null, // 发送的数据
        dataType : "json",  //返回数据形式为json
        async: false,
        error: function(request) {
            alert("发送请求失败！");
        },
        success: function(result) {
            //console.log(JSON.stringify(result));
            typebar = result;
            // 为echarts对象加载数据--------------
        }
    });

    Array.prototype.unique3 = function(){
     var res = [];
     var json = {};
     for(var i = 0; i < this.length; i++){
      if(!json[this[i]]){
       res.push(this[i]);
       json[this[i]] = 1;
      }
     }
     return res;
    }

    var xAxis_data=[];
    var legend_data=[];
    var kaifu_data=[];
    var fengce_data=[];
    var gongce_data=[];
    var myobj = JSON.stringify(typebar);
    for(var i=0;i < typebar.length;i++){
        xAxis_data.push(typebar[i].dh_game_type);
        legend_data.push(typebar[i].test_type);
        if (typebar[i].test_type == '开服'){
            kaifu_data.push(typebar[i].type_num);
        }
        if (typebar[i].test_type == '封测'){
            fengce_data.push(typebar[i].type_num);
        }
        if (typebar[i].test_type == '公测'){
            gongce_data.push(typebar[i].type_num);
        }
    }

option2 = {
    tooltip : {},
    legend: {
        data:legend_data.unique3()
    },
    toolbox: {
        show : true,
        orient: 'vertical',
        x: 'right',
        y: 'center',
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            data : xAxis_data.unique3()
        }
    ],
    yAxis : [
        {
            type : 'value'
        }
    ],
    series : [
        {
            name:'开服',
            type:'bar',
            stack: 'type',
            data:kaifu_data
        },
        {
            name:'公测',
            type:'bar',
            stack: 'type',
            data:fengce_data
        },
        {
            name:'封测',
            type:'bar',
            stack: 'type',
            data:gongce_data
        }
    ]
};

chart2.setOption(option2);


</script>